<header class="navbar navbar-light bg-light fixed-top">
<div class="container">
  <%= link_to 'Home', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav ml-auto">
     <%  if user_signed_in?  %>
       <li class="nav-item active">
         <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link text-right", method: :delete %>
       </li>
     <% else %>
       <li class="nav-item active">
         <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-right" %>
       </li>
       <li class="nav-item active">
         <%= link_to "ログイン", new_user_session_path, class: "nav-link text-right" %>
       </li>
       <li class="nav-item active">
         <%= link_to "ゲストログイン（閲覧用）", home_guest_sign_in_path, class: "nav-link text-right", method: :post %>
       </li>
       <li class="nav-item active">
         <%= link_to "モワメームとは", about_path, class: "nav-link text-right" %>
       </li>
     <% end %>
   </ul>
 </div>
 </div>
</header>